.restaurant-wrapper {
  position: relative;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  top: 42.5vh;
  overflow: hidden;
}

.restaurant-pic {
  object-fit: cover;
  width: 100%; height: 100vh;
}

.content, .mission {
  min-height: 100vh;
  background-color: #2d2424;
  text-align: center;
  padding: 10% 10%;
}

.bordered {
    border-top: 2px #eeeeee solid;
    border-bottom: 2px #eeeeee solid;
}

.section-heading, .section-heading2 {
  font-size: 2.5rem;
  margin: 2% 0% 10%;
  color: #f5e6ca;
}

.about-text, .about-text2 {
  font-size: 1.7rem;
  line-height: 1.8;
}

.mission-wrapper {
  position: relative;
  z-index: -1;
  top: 25vh;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.mission-pic {
  object-fit: cover;
  width: 100%; height: 100vh;
}

/* Footer */

#footer {
  z-index: -2;
  width: 100%;
  position: fixed;
  padding: 0 5% 85px;
  color: #EEEEEE;
  bottom: 0;
  text-align: center;
}

.transparent {
  position: relative;
  bottom: -40px;
  height: 40vh;
  background-color: black;
  opacity: 0.0;
}

@media (max-width: 768px) {

  .section-heading, .section-heading2 {
    font-size: 2.2rem;
  }

  .about-text, .about-text2 {
    font-size: 1.4rem;
    line-height: 1.5;
  }

  .transparent {
    height: 60vh;
  }
}
