body {
  font-family: 'Libre Baskerville', serif;
  background-color: black;
  color:#EEEEEE;
}

/* navbar */
.navbar {
  background-color: #EEEEEE;
  position: static;
  padding: 10px 10px;
  min-height: 9vh;
}

.navbar-brand {
  font-size: 1.7rem;
}
.nav-item {
  padding: 0 18px;
  font-size: 1.5rem;
}

#meat-menu, #veg-menu {
  padding: 5% 3%;
}

.menu-item {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
}

.section-title {
  margin: 5% 0;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.row {
  margin: 5% 5%;
  display: flex;
}

.description {
  font-size: 1.1rem;
}


.underline {
  align-items: center;
  border-bottom: 2px solid;
  border-color: #FFDFAF;
  line-height:2;
}

.price {
  float: right;
}

/* menu pics */
.meat-box {
  margin: 5% 5%;
  width: 100%;
}

.pic {
  margin: 5% 5%;
  width:35%;
  border-radius: 2%;
}

.meat-box, .veg-box {
  margin: 5% 5%;
  width: 100%;
}
