.bordered {
  border-top: 2px #F5E6CA solid;
  border-bottom: 2px #F5E6CA solid;
}

.bordered-image {
  border-radius: 2%;
  border: 2px solid #F5E6CA;
}

#meat-menu, #veg-menu {
  padding: 5% 3%;
}

.type {
  margin: 5% auto;
  color: #f5e6ca;
  font-weight: 900;
}

.type-box {
  padding: 2% 5%;
}
.menu-item {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
}

.section-title {
  margin: 5% 0;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.row {
  margin: 5% 5%;
  display: flex;
}

.description {
  font-size: 1.1rem;
}


.underline {
  align-items: center;
  border-bottom: 2px solid;
  border-color: #FFDFAF;
  line-height:2;
}

.price {
  float: right;
}

/* menu pics */
.meat-box {
  margin: 5% 5%;
  width: 100%;
}

.pic {
  margin: 5% 5%;
  width:35%;
  border-radius: 2%;
}

.meat-box, .veg-box {
  margin: 5% 5%;
  width: 100%;
}

#footer {
  padding: 10% 5%;
  color: #EEEEEE;
  background-color: #2d2424;
  z-index: -3;
  text-align: center;
}

@media (max-width: 768px) {

  .section-title {
    font-size: 2.2rem;
  }

  .menu-item {
    font-size: 1.3rem;
  }

  .description {
    font-size: 1.0rem;
  }

  .title3 {
    font-size: 2.4rem;
  }

  .social-icon {
    font-size: 1.7rem;
  }

  .copyright {
    font-size: 1rem;
  }
}
