body {
  font-family: 'Libre Baskerville', serif;
  background-color: black;
}

/* general */
.section-title, .title2 {
  text-align: center;
  font-size: 3rem;
  color: #f5e6ca;
}

.bordered {
  border-top: 2px #F5E6CA solid;
  border-bottom: 2px #F5E6CA solid;
}

.bordered-image {
  border-radius: 2%;
  border: 2px solid #F5E6CA;
}

.unlink {
  color: #EEEEEE;
  text-decoration: none;
}

.unlink:hover {
  color: #F5e6ca;
}
/* navbar */
.navbar {
  background-color: #2d2424;
  position: relative;
  padding: 10px 10px;
  min-height: 9vh;
}

.navbar-light .navbar-brand {
  font-size: 1.7rem;
  color: #eeeeee;
}

.navbar-light .navbar-brand:hover {
  color: #f5e6ca;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.5rem;
}

.nav-link {
  color: #F5E6CA !important;
}

.navbar-light .navbar-toggler {
  border: none;
  color: #f5e6ca;
}

.navbar-bar {
  color: #f5e6ca;
}

/* Title */
.bg-wrapper {
  z-index: -100;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  overflow:hidden;
}

.bg {
  visibility: visible;
  object-fit: cover;
  width: 100%;
  min-height: 100vh
}

#top {
  z-index: -1;
  padding: 5% 0;
  min-height: 100vh;
}

.title-content {
  text-align: center;
  color: #EEEEEE;
}

.big-title {
  font-weight: 500;
  font-size: 4rem;
  display: block;
  margin: 10% 13%;
}

.sub-title {
  font-size: 2rem;
  display: block;
  margin: 1% 13%;
}

.cta {
  display: inline-block;
  font-size: 1.8rem;
  padding: 2% 2%;
  margin: 7% 13%;
  justify-content: center;
}

.contact-info {
  margin-top: 11%;
  font-size: 1.5rem;
}

/* Menu */
#menu, #testemonials, #hours {
  background-color: #2D2424;
  padding: 10% 5%;
  color: #eeeeee;
  min-height: 100vh;
}

.menu-row {
  margin: 8% auto;
}

.menu-pic {
  position: relative;
  width: 80%;
  margin: 10% 2%;
  left: 10%;
  border-radius: 1%;
}

.name {
  text-align: center;
  font-size: 2.4rem;
}

/* hours */

.hours-wrapper {
  text-align: left;
  margin: 0 auto;
  padding: 0 5%;
}

.sub-heading {
  margin: 8% 0;
  font-weight: bold;
}

.inner-wrapper {
  overflow: hidden;
}

.weekday {
  margin-right: 10%;
  width: auto;
  float: left;
}

.photo {
  margin-top: 100px;
  height: 60vh;
  overflow: hidden;
}

.info {
  color: #C8C2BC;
}

.restaurant-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location-icon {
  color: #CD113B;
}

.bg3-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 25vh;
  z-index: -1;
  overflow: hidden;
}

.bg3 {
  object-fit: cover;
  width: 100%; height: 100vh;
}

/* testemonial */
.bg2-wrapper {
  width: 100%;
  height: 100vh;
  top: 25vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.bg2 {
  object-fit: cover;
  width: 100%; height: 100vh;
}

.decor-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  top: 12.5vh;
  overflow: hidden;
}

.decor {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.testemonial-body {
  font-size: 1.7rem;
  text-align: center;
  margin: 5% auto;
  color: #C8C2BC;
}

.yelp {
  margin: 10% auto;
}

.yelp-review {
  position: relative;
  display: flex;
  width: 80%;
  margin: 5% auto;
}

/* footer */
#footer {
  padding: 10% 5%;
  color: #EEEEEE;
  background-color: #2d2424;
  z-index: -3;
  text-align: center;
}

.title3 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.social-icon {
  color: #eeeeee;
  font-size: 2rem;
  margin: 50px 20px;
}

.social-icon:hover {
  color: #f5e6ca;
}

@media (max-width: 700px) {
  .navbar-toggler {
    width: 100%;
    float: none;
    margin-right: 0;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
  }

  .section-title, .title2 {
    font-size: 2.2rem;
  }

  .big-title {
    font-weight: 500;
    font-size: 2.4rem;
    display: inline-block;
    margin: 10% 10%;
  }
  .sub-title {

    font-size: 1.5rem;
    display: block;
    margin: 3% 10%;
  }

  .contact-info {
    font-size: 1.3rem;
  }

  .cta {
    font-size: 1.5rem;
    padding:4% 4%;
  }

  .name {
    font-size: 2rem;
  }

  .photo {
    margin-top: 30px;
  }

  .testemonial-body {
    font-size: 1.4rem;
  }

  .title3 {
    font-size: 2.4rem;
  }

  .social-icon {
    font-size: 1.7rem;
  }

  .copyright {
    font-size: 1rem;
  }
}
