body {
  font-family: 'Libre Baskerville', serif;
  background-color: black;
  overflow-x: hidden;
}

/* general */
.section-title, .title2 {
  text-align: center;
  font-size: 3rem;
  color: #f5e6ca;
}

.bordered {
  border-top: 2px #F5E6CA solid;
  border-bottom: 2px #F5E6CA solid;
}

.bordered-image {
  border-radius: 2%;
  border: 2px solid #F5E6CA;
}

.unlink {
  color: #EEEEEE;
  text-decoration: none;
}

.unlink:hover {
  color: #F5e6ca;
}

/* Title */
.bg-wrapper {
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 190vh;
  position: absolute;
  overflow: hidden;
}

.bg {
  visibility: visible;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#top {
  padding: 5% 0;
  min-height: 100vh;
  position: relative;
}

.title-content {
  position: relative;
  text-align: center;
  color: #EEEEEE;
}

.big-title {
  font-weight: 500;
  font-size: 4rem;
  display: block;
  margin: 10% 13%;
}

.sub-title {
  font-size: 2rem;
  display: block;
  margin: 1% 13%;
}

.cta {
  display: inline-block;
  font-size: 1.8rem;
  padding: 2% 2%;
  margin: 7% 13%;
  justify-content: center;
  color: #F5e6ca;
}

.social-icon-lg {
  text-decoration: none;
  font-size: 2.7rem;
  color: #eeeeee;
  margin: 0 5%;
}

.social-icon-lg:hover {
  color: #f5e6ca;
}

.contact-info {
  margin-top: 11%;
  font-size: 1.5rem;
}

/* Menu */
#menu, #testemonials, #hours, #gallery {
  z-index: 1;
  background-color: #2D2424;
  padding: 10% 5%;
  color: #eeeeee;
  min-height: 100vh;
}

.menu-row {
  margin: 8% auto;
}

.menu-pic {
  position: relative;
  width: 80%;
  margin: 10% 2%;
  left: 10%;
  border-radius: 1%;
}

.name {
  text-align: center;
  font-size: 2.4rem;
}

/* hours */

.hours-wrapper {
  text-align: left;
  margin: 0 auto;
  padding: 0 5%;
}

.sub-heading {
  margin: 8% 0;
  font-weight: bold;
}

.inner-wrapper {
  overflow: hidden;
}

.weekday {
  margin-right: 10%;
  width: auto;
  float: left;
}

.photo {
  margin-top: 100px;
  height: 60vh;
  overflow: hidden;
}

.info {
  color: #C8C2BC;
}

.restaurant-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location-icon {
  color: #CD113B;
}

.bg3-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 25vh;
  z-index: -1;
  overflow: hidden;
  opacity: 0.9;
}

/* testemonial */
.bg2-wrapper {
  width: 100%;
  height: 100vh;
  top: 24vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.bg2, .bg3, .bg5 {
  object-fit: cover;
  width: 100%; height: 100vh;
}

.decor-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  top: 25vh;
  overflow: hidden;
}

.decor {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.testemonial-body {
  font-size: 1.7rem;
  text-align: center;
  margin: 5% auto;
  color: #C8C2BC;
}

.yelp-review {
  position: relative;
  display: flex;
  width: 100%;
  margin: 10% auto;
}

/* gallery */
.bg5-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 17vh;
  z-index: -1;
  overflow: hidden;
}

.gallery-pic {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
  text-align: center;
}

.title4 {
  margin: 0 auto 5%;
}

.top {
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 5% 5%;
}

.bottom {
  border-left: 2px solid #f5e6ca;
  border-right: 2px solid #f5e6ca;
  border-top: 3px solid #f5e6ca;
  border-bottom: 3px solid #f5e6ca;
  position: absolute;
  z-index: 20;
  /* background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(45,36,36,0.9) 10%); */
  background-color: rgb(45,36,36,0.8);
  width: 100%;
  height: 12vh;
  bottom: -12vh;
  text-align: center;
  padding: 5% 5%;
}

.txt {
  position: relative;
  font-size: 1.1rem;
  color: white;
  top: 20%;
}

/* footer */
#footer {
  padding: 10% 5%;
  color: #EEEEEE;
  background-color: #2d2424;
  z-index: -3;
  text-align: center;
}

.title3 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.social-icon {
  text-decoration: none;
  color: #eeeeee;
  font-size: 2rem;
  margin: 50px 20px;
}

.social-icon:hover {
  color: #f5e6ca;
}

@media (max-width: 768px) {

  .section-title, .title2 {
    font-size: 2.2rem;
  }

  .big-title {
    font-weight: 500;
    font-size: 2.4rem;
    display: inline-block;
    margin: 10% 10%;
  }
  .sub-title {

    font-size: 1.5rem;
    display: block;
    margin: 3% 10%;
  }

  .contact-info {
    font-size: 1.3rem;
  }

  .cta {
    font-size: 1.5rem;
    padding:4% 4%;
  }

  .name {
    font-size: 2rem;
  }

  .photo {
    margin-top: 30px;
  }

  .testemonial-body {
    font-size: 1.4rem;
  }

  .title3 {
    font-size: 2.4rem;
  }

  .social-icon {
    font-size: 1.7rem;
  }

  .copyright {
    font-size: 1rem;
  }
}
